<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs');%>

    <body>

        <%- include('./partials/nav.ejs');%>

            <div class="container center-align" style="margin-top: 150px;">
                <i class="large material-icons prefix" style="color: red;">error</i>
                <h1 style="color: red;">
                    <%=ERROR1%>
                </h1>
                <h2 style="color: red;">
                    <%=ERROR2%>
                </h2>
            </div>
    </body>

</html>