<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs');%>

    <body>

        <%- include('./partials/nav.ejs');%>

            <div class="container">
                <ul class="collection with-header">

                    <%if (items.length> 0) {
                        items.forEach(e => {%>
                        <li class="collection-item">
                            <div>
                                <%=e.name%> $<%=e.price%><a href="# " class="secondary-content">
                                            <i class="material-icons">delete</i>
                                            <i class="material-icons">edit</i>
                                        </a>
                            </div>
                        </li>
                        <% }); } else {%>
                            <li class="collection-item">
                                <div>No Items Found !!<a href="#" class="secondary-content"><i
                                            class="material-icons">send</i></a>
                                </div>
                            </li>
                            <%}%>
                </ul>
            </div>
    </body>

</html>